[Unit]
Description=Semtech LoRa Packet Forwarder
After=network-online.target auditd.service
Wants=network-online.target

[Service]
User=lora
Group=lora
EnvironmentFile=/etc/packet-forwarder/packet-forwarder.env
WorkingDirectory=/etc/packet-forwarder
ExecStart=/usr/sbin/lora_pkt_fwd_start
#ExecReload=/bin/kill -HUP $MAINPID
#KillMode=process
Restart=on-failure
RestartSec=5
#RestartPreventExitStatus=255
#Type=notify

[Install]
WantedBy=multi-user.target
Alias=pktfwd.service
