[Unit]
Description=Semtech LoRa Packet Forwarder
After=network-online.target auditd.service

[Service]
User=lora
Group=lora
EnvironmentFile=/etc/packet-forwarder/packet-forwarder.env
ExecStart=/usr/sbin/lora_pkt_fwd
WorkingDirectory=/etc/packet-forwarder
#ExecReload=/bin/kill -HUP $MAINPID
#KillMode=process
Restart=on-failure
#RestartPreventExitStatus=255
#Type=notify

[Install]
WantedBy=multi-user.target
Alias=pktfwd.service
