[submodule "lora_gateway"]
	path = src/semtech_lora_gateway
	url = https://github.com/Lora-net/lora_gateway.git
[submodule "packet_forwarder"]
	path = src/packet_forwarder
	url = https://github.com/Lora-net/packet_forwarder.git
[submodule "src/go/src/github.com/brocaar/lora-gateway-bridge"]
	path = src/go/src/github.com/brocaar/lora-gateway-bridge
	url = https://github.com/brocaar/lora-gateway-bridge
[submodule "src/go/src/github.com/openchirp/lora-gateway-bridge"]
	path = src/go/src/github.com/openchirp/lora-gateway-bridge
	url = https://github.com/OpenChirp/lora-gateway-bridge.git
[submodule "src/go/src/github.com/openchirp/sysmonitor-device"]
	path = src/go/src/github.com/openchirp/sysmonitor-device
	url = https://github.com/openchirp/sysmonitor-device
[submodule "src/artur_packet_forwarder"]
	path = src/artur_packet_forwarder
	url = https://github.com/OpenChirp/oc_lora_gw_pf_dev.git
