Package: yodelgw
Version: 1.21
Architecture: armhf
Maintainer: Craig Hesling <craig@hesling.com>
Installed-Size: 38
Depends: rtl-sdr, swig, python-dev, WiringPi, ntp
Section: misc
Priority: optional
Description: Software to run the main yodel gateway services
