Package: yodelgw
Version: 4.13
Architecture: armhf
Maintainer: Craig Hesling <craig@hesling.com>
Installed-Size: 38
Depends: libc6, init-system-helpers, adduser, rtl-sdr, swig, python-dev, wiringpi, ntp
Section: misc
Priority: optional
Homepage: http://OpenChirp.io
Description: Runs an OpenChirp gateway
 This package installs the services and configuration needed
 to run an OpenChirp gateway.
